* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Color Palette Variables */
:root {
    --primary-color: #1C3144; /* Dark Blue */
    --secondary-color: #9BC4CB; /* Light Blue */
    --background-color: #ffffff; /* Light Beige */
    --accent-color-light: #E2FADB; /* Light Green Accent */
    --accent-color-dark: #04e282; /* Dark Green Accent */
    --text-color: #4a4a4a; /* Dark Gray */
    --white-color: #ffffff; /* White */
    --brown-color: #311102; /* Dark Brown */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Light Shadow */

    /* Font Variables */
    --font-family: Lexend, sans-serif;
    --font-size-base: 1rem; /* Base font size */
    --font-size-heading: 2.5rem; /* Heading font size */
    --font-size-subheading: 2rem; /* Subheading font size */
    --font-size-small: 0.9rem; /* Smaller font size */
}

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Particles Background */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
    margin-top: 0;
}


.navbar-nav .nav-link {
    font-weight: bold;
    color: white !important;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffbb33 !important;
    border-radius: 5px;
}

.navbar-nav .nav-link.active {
    color: #ffbb33 !important;
}

.navbar.fixed-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    background-color: rgba(13, 54, 238, 0) !important;
    color: var(--white-color);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: none;
}

footer p {
    margin: 0;
    font-size: var(--font-size-small);
}

footer a {
    color: var(--accent-color-light);
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

#footer-placeholder {
    margin-top: auto;
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .footer .col-md-6 {
        margin-bottom: 10px;
    }

    .social-icons {
        text-align: center;
    }

    .social-icons a {
        font-size: 1.2rem;
    }
}
